.cbcwl {
    cursor: pointer;
    border-radius: 80px;
    font-size: 30px; 
    background-color: #ffffff; 
    border-color: #ffffff; 
    border-style: solid;
}
.cbcwl:hover {
    border-color: #ffa500;
    transition: 0.19s;
    transition: 0.23s;
}
.cbcwl:active {
    border-color: #5d00ff;
    transition: 0.19s;
    transition: 0.23s;
}
.cbcwb {
    cursor: pointer;
    border-radius: 80px; 
    font-size: 30px; 
    background-color: #ffffff; 
    border-color: #edc967; 
    border-style: solid;
}
.cbcwb:hover {
    border-color: #5d00ff;
    transition: 0.19s;
    transition: 0.23s;
}
.cbcwb:active {
    border-color: #ffa500;
    transition: 0.19s;
    transition: 0.23s;
}
.cbcvd {
    cursor: pointer;
    border-radius: 80px;
    font-size: 30px; 
    background-color: #ffffff; 
    border-color: #ffffff; 
    border-style: solid;
}
.cbcvd:hover {
    border-color: #5d00ff;
    transition: 0.19s;
    transition: 0.23s;
}
.cbcvd:active {
    border-color: #ffa500;
    transition: 0.19s;
    transition: 0.23s;
}
.sm {
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: white;
      }
      .sm a{
        display: inline-flex;
        text-decoration: none;
        font-size: 25px;
        width: 60px;
        height: 60px;
        color: white;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 2px;
      }
  .sm a::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    z-index: -1;
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1)::before{
    background: red;
  }
  .sm a:nth-child(3)::before{
    background: #5865f2;;
  }
  .sm a:nth-child(4)::before{
    background: #1c96e9;
  }
  .sm a:nth-child(2)::before{
    background: white;
  }
  .sm a:nth-child(5)::before{
    background: #E1306C;
  }
  .sm a:hover::before{
    transform: scale(0);
  }
  .sm a i{
    transition: transform .3s ease-in;
  }
  .sm a:nth-child(1):hover i{
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(1):hover i{
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(2):hover i{
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(3):hover i{
    background:#5865f2; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(4):hover i{
    background: #1c96e9;;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .sm a:nth-child(5):hover i{
    background: #E1306C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
  }
  .we {
    color:lightblue;
    text-decoration: none;
    font-family: Arial;
    }
    .we:hover {
    color:red;
    text-decoration: none;
    font-family: Arial;
    transition: 0.19s;
    transition: 0.23s;
    }
    .we:active {
    color:black;
    text-decoration: none;
    font-family: Arial;
    }
    #preloader{
      background: #ffffff url(Loading.gif) no-repeat center center;
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 100;
    }